In [5]:
import os
#csv文件
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
#data_file 是储存文件名的变量
#写入csv文件

##'..'当前路径 'data'文件名
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n') # 列名
    f.write('NA,Pave,127500\n') # 一个样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')
# NA未知

In [14]:
import pandas as pd
data = pd.read_csv(data_file)
#data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [8]:
nan_numer = data.isnull().sum(axis=1)
nan_numer

0    1
1    1
2    1
3    2
dtype: int64

In [5]:
nan_max_id = nan_numer.idxmax()
nan_max_id

3

In [8]:
data_delete = data.drop([nan_max_id], axis=0)
data_delete

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100

In [15]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2] # index location
inputs = inputs.fillna(inputs.mean()) # 在缺失的里面填成所有均值
inputs

TypeError: can only concatenate str (not "int") to str

In [10]:
inputs = pd.get_dummies(inputs, dummy_na=True) #分为两类，有两个index ， 有的话为1 没有为0
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [13]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values) 
X, y

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint64, uint32, uint16, uint8, and bool.